{% extends '_layout.twig' %}

{% block cssExtends %}
    <style>
        .arr-arrange-wrapper {
            margin-top: 13px;
        }

        .arr-arrange-wrapper ul {
            list-style-type: none;
        }

        .arr-arrange-wrapper ul li {
            margin-bottom: 5px;
        }

        .expand_arrow {
            position: absolute;
            top: 0;
            right: 2px;
            padding: 10px 0;
            width: 60px;
            text-align: center;
            font-size: 25px;
            color: #ffffff;
            border-left: 1px solid #fff;
        }

        .ic-edit-section, .ic-delete-section {
            font-size: 19px;
            padding: 13px 0;
        }

        .ic-delete-section {
            right: 62px;
        }

        .expand_arrow:hover {
            color: #eee;
        }

        .arr-section-list {
            padding-right: 40px;
            overflow: auto;
        }

        .arr-api-list {
            padding: 10px;
            min-height: 45px;
            background-color: #ffffff;
            overflow: auto;
        }

        .arr-section-item {
            border: 1px solid #3c8dbc;
        }

        .arr-section-item, .arr-api-item {
            position: relative;
            display: block;
            margin: 0;
            padding: 0;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 10px;
        }

        .arr-section-item > .arr-title-bar > a {
            font-weight: bold;
            color: #ffffff;
        }

        .arr-section-item > .arr-title-bar > a:hover {
            color: #eee;
        }

        .arr-section-list > li > .arr-title-bar {
            margin: 0;
            background-color: #3c8dbc;
            color: #ffffff;
            border: none;
            border-radius: 0;
        }

        .arr-section-list > li > .arr-title-bar > i {
            color: #ffffff;
        }

        .arr-title-bar {
            height: 45px;
            margin: 5px 0;
            padding: 5px 10px;
            cursor: move;
            color: #333;
            border: 1px solid #ccc;
            background: #fafafa;
            -webkit-border-radius: 3px;
            border-radius: 3px;
        }

        .arr-title-bar > i {
            padding-right: 10px;
            color: #999;
        }

        .arr-title-bar a {
            color: #333;
        }

        .arr-title-bar a:hover {
            color: #3c8dbc;
        }

        .arr-sortable-placeholder1, .arr-sortable-placeholder2 {
            min-height: 45px;
            border: 1px dashed #b6bcbf;
        }

        .arr-sortable-placeholder1 {
            background: #f2fbff;
        }

        .arr-sortable-placeholder2 {
            background: #f8fdf5;
        }

        .icon-delete {
            padding: 5px 15px;
            font-size: 20px;
        }

        .lbl-choose-version {
            margin-left: 40px;
            margin-right: 10px;
            font-size: 20px;
        }

        .lbl-choose-version > span {
            position: absolute;
            font-weight: lighter;
            font-size: 14px;
        }

        .new-section {
            margin: 15px 40px 0 40px;
        }

        .new-section .input-group-addon {
            background-color: #00b763;
            border-color: #00a65a;
            color: #ffffff;
        }

        .new-api {
            margin-top: 15px;
        }

        .new-api .input-group-addon {
            background-color: #f5aa32;
            border-color: #f39c12;
            color: #ffffff;
        }

        .new-api .input-group-addon, .new-api input, .new-api button,
        .new-section .input-group-addon, .new-section input, .new-section button {
            height: 40px;
        }

        .modal-body {
            font-size: 18px;
        }

        .editable-input > input {
            width: 300px !important;
        }
    </style>
{% endblock %}

{% block content %}
    <form id="edit-form" method="post">
        {{ toolbar | safe }}

        <div class="row">
            <div class="col-md-12" id="content-wrapping">
                <div class="box box-primary">
                    <div class="box-body" style="padding-top: 20px;">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="lbl-choose-version">
                                    Select Version:
                                    <span> (Current Version: {{ current_version.name }})</span>
                                </label>
                                <select id="version" name="version" class="form-control"
                                        onchange="changeVersion()"
                                        style="display: inline-block; width: 200px;">
                                    {% for version in versions %}
                                        <option value="{{ version.id }}"
                                                {% if version.id == selected_version %}selected="selected" {% endif %}>
                                            {{ version.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="pull-right" style="padding: 0 55px 10px 0;">
                                        <button type="button" class="btn btn-default" onclick="collapseAll()">
                                            <i class="fa fa-bars"></i> Collapse All
                                        </button>
                                        <button type="button" class="btn btn-default" onclick="expandAll()"
                                                style="margin-right: 0;">
                                            <i class="fa fa-arrows-v"></i> Expand All
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group new-section">
                            <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                            <input type="text" class="form-control"
                                   onkeypress="return createSection(this, event, 'before')"
                                   placeholder="Section title (press Enter to submit)">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat" onclick="return resetInput(this)"
                                        style="margin: 0;">
                                    <i class="fa fa-refresh"></i> Reset
                                </button>
                            </span>
                        </div>

                        <div class="row">
                            <div class="col-md-12 arr-arrange-wrapper">
                                {% if data %}
                                    <ul class="arr-section-list">
                                        {% for dat in data %}
                                            <li data-section-id="{{ dat.id }}" class="arr-section-item">
                                                <div class="arr-title-bar">
                                                    <i class="fa fa-bars"></i>
                                                    <a href="#" data-type="text" data-pk="{{ dat.id }}"
                                                       class="inline-edit editable editable-click" data-mode="inline"
                                                       data-url="/admin/documentation/sections/update">
                                                        {{ dat.title }}
                                                    </a>
                                                </div>

                                                <a href="javascript:void(0)"
                                                   class="fa fa-trash-o expand_arrow ic-delete-section"
                                                   onclick="confirmDeleteSection('{{ dat.id }}', this)"></a>

                                                <a href="javascript:void(0)"
                                                   class="fa fa-caret-down expand_arrow"
                                                   onclick="showApis(this);"></a>

                                                <ul class="arr-api-list">
                                                    {% for api in dat.apis %}
                                                        <li data-api-id="{{ api.id }}" class="arr-api-item">
                                                            <div class="arr-title-bar">
                                                                <i class="fa fa-arrows"></i>
                                                                <a href="/admin/documentation/apis/edit2/{{ api.id }}">{{ api.title }}</a>
                                                                <a href="javascript:void(0)"
                                                                   onclick="confirmDeleteApi('{{ api.id }}', this)">
                                                                    <i class="fa fa-trash-o pull-right icon-delete"></i>
                                                                </a>
                                                            </div>
                                                        </li>
                                                    {% endfor %}

                                                    <div class="input-group new-api">
                                                        <span class="input-group-addon"><i
                                                                    class="fa fa-plus"></i></span>
                                                        <input type="text" class="form-control"
                                                               onkeypress="return createApi(this, event)"
                                                               placeholder="API title (press Enter to submit)"/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-flat"
                                                                    onclick="return resetInput(this)"
                                                                    style="margin: 0;">
                                                                <i class="fa fa-refresh"></i> Reset
                                                            </button>
                                                        </span>
                                                    </div>
                                                </ul>
                                            </li>
                                        {% endfor %}
                                    </ul>

                                    <input type="hidden" name="data_json" id="data_json"/>
                                {% endif %}
                            </div>
                        </div>

                        <div class="input-group new-section">
                            <span class="input-group-addon"><i class="fa fa-plus"></i></span>
                            <input type="text" class="form-control"
                                   onkeypress="return createSection(this, event, 'after')"
                                   placeholder="Section title (press Enter to submit)">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-flat" onclick="return resetInput(this)"
                                        style="margin: 0;">
                                    <i class="fa fa-refresh"></i> Reset
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="confirm-delete-section-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{ __('t_backend_default_delete_modal_confirm') }}</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to permanently delete this section and all its APIs?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">{{ __('cancel') }}</button>
                    <button type="button" class="btn btn-danger"
                            onclick="deleteSection()">{{ __('delete') }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-delete-api-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">{{ __('t_backend_default_delete_modal_confirm') }}</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to permanently delete this api?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">{{ __('cancel') }}</button>
                    <button type="button" class="btn btn-danger" onclick="deleteApi()">{{ __('delete') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsExtends %}
    <script src="/backend/adminLTE/assets/plugins/jQueryUI/jquery-ui.min.js"
            type="text/javascript"></script>
    <script>
        var id_api_to_delete = null;
        var api_to_delete = null;
        var id_section_to_delete = null;
        var section_to_delete = null;

        $(function () {
            initSortable();
        });

        function initSortable() {
            $(".arr-section-list").sortable({
                helper: "clone",
                connectWith: ".arr-section-list",
                placeholder: "arr-sortable-placeholder1",
                stop: function (event, ui) {
                    saveAll()
                }
            });
            $(".arr-api-list").sortable({
                helper: "clone",
                connectWith: ".arr-api-list",
                placeholder: "arr-sortable-placeholder2",
                cancel: ".new-api",
                stop: function (event, ui) {
                    saveAll()
                }
            });
            $(".arr-section-list, .arr-api-list").disableSelection();
        }

        function changeVersion() {
            window.location.href = '/admin/documentation/versions/arrange-docs/' + $('#version').val();
        }

        function showApis(btnArrow) {
            if ($(btnArrow).attr('class') == 'fa fa-caret-down expand_arrow') {
                $(btnArrow).next('.arr-api-list').css('display', 'none');
                $(btnArrow).attr('class', 'fa fa-caret-left expand_arrow');
            } else {
                $(btnArrow).next('.arr-api-list').css('display', '');
                $(btnArrow).attr('class', 'fa fa-caret-down expand_arrow');
            }
        }

        function createSection(input, event, position) {
            if (event.which == 13 || event.keyCode == 13) {
                var section_title = $(input).val();
                var version_id = $('#version').val();

                if (section_title != "") {
                    $.ajax({
                        url: '/admin/documentation/sections/createsection',
                        type: 'POST',
                        data: {
                            section_title: section_title,
                            version_id: version_id
                        }
                    }).done(function (result) {
                        $(input).val('').blur();

                        if (result == '0') {
                            alert('Section title was duplicated');
                        } else if (result == '-1') {
                            alert('Failed to create new Section');
                        } else {
                            var list = $('.arr-section-list');
                            var li = '<li data-section-id="' + result + '" class="arr-section-item">' +
                                    '<div class="arr-title-bar">' +
                                    '<i class="fa fa-bars"></i> ' + section_title + '</div>' +
                                    '<a href="javascript:void(0)" class="fa fa-trash-o expand_arrow ic-delete-section" onclick="confirmDeleteSection(\'' + result + '\', this)"></a>' +
                                    '<a href="javascript:void(0)" class="fa fa-caret-down expand_arrow" onclick="showApis(this);"></a>' +
                                    '<ul class="arr-api-list ui-sortable">' +
                                    '<div class="input-group new-api">' +
                                    '<span class="input-group-addon"><i class="fa fa-plus"></i></span>' +
                                    '<input type="text" class="form-control" onkeypress="return createApi(this, event)" placeholder="API title (press Enter to submit)">' +
                                    '<span class="input-group-btn">' +
                                    '<button type="button" class="btn btn-default btn-flat" onclick="return resetInput(this)" style="margin: 0;">' +
                                    '<i class="fa fa-refresh"></i> Reset' +
                                    '</button></span></div></ul></li>';

                            // Highlight added item
                            var added_item = null;
                            if (position == 'before') {
                                list.prepend(li);
                                added_item = list.children().first().children('.arr-title-bar');
                            } else {
                                list.append(li);
                                added_item = list.children().last().children('.arr-title-bar');
                            }
                            added_item.css('background-color', '#529dc8');
                            setTimeout(function () {
                                added_item.css('background-color', '');
                            }, 100);

                            // Init sortable
                            initSortable();
                        }
                    });
                }
                return false;
            }
        }

        function createApi(element, event) {
            if (event.which == 13 || event.keyCode == 13) {
                var api_title = $(element).val();
                var section_id = $(element).closest('li.arr-section-item').first().attr('data-section-id');

                if (api_title != "" && section_id != undefined) {
                    $.ajax({
                        url: '/admin/documentation/apis/createapi',
                        type: 'POST',
                        data: {
                            api_title: api_title,
                            section_id: section_id
                        }
                    }).done(function (result) {
                        $(element).val('').blur();

                        if (result == '0') {
                            alert('API title was duplicated');
                        } else if (result == '-1') {
                            alert('Failed to create new API');
                        } else {
                            var list = $(element).closest('ul.arr-api-list').first();
                            var li = '<li data-api-id="' + result + '" class="arr-api-item">' +
                                    '<div class="arr-title-bar">' +
                                    '<i class="fa fa-arrows"></i>' +
                                    '<a href="/admin/documentation/apis/edit2/' + result + '">' + api_title + '</a>' +
                                    '<a href="javascript:void(0)" onclick="confirmDeleteApi(\'' + result + '\', this)">' +
                                    '<i class="fa fa-trash-o pull-right icon-delete"></i>' +
                                    '</a></div></li>';
                            if (list.children('li').length == 0){
                                $(list).prepend(li);
                            }else{
                                $(list.children('li')[list.children('li').length - 1]).after(li);
                            }

                            // Highlight added item
                            var added_item = $(list.children('li')[list.children('li').length - 1]).children('.arr-title-bar');
                            added_item.css('background-color', '#f39c12').children().css('color', '#ffffff');
                            setTimeout(function () {
                                added_item.css('background-color', '').children().css('color', '');
                            }, 100);
                        }
                    });
                }
                return false;
            }
        }

        function resetInput(button) {
            $(button).parent().prev('input').val('').focus();
        }

        function confirmDeleteApi(id_api, api) {
            id_api_to_delete = id_api;
            api_to_delete = api;
            $('#confirm-delete-api-modal').modal('show');
        }

        function confirmDeleteSection(id_section, section) {
            id_section_to_delete = id_section;
            section_to_delete = section;
            $('#confirm-delete-section-modal').modal('show');
        }

        function deleteSection() {
            if (id_section_to_delete != null) {
                $.ajax({
                    url: '/admin/documentation/sections/deleterecordtruncate',
                    type: 'POST',
                    data: {
                        id: id_section_to_delete
                    }
                }).done(function () {
                    $(section_to_delete).parent('.arr-section-item').remove();
                    $('#confirm-delete-section-modal').modal('hide');
                });
            }
        }

        function deleteApi() {
            if (id_api_to_delete != null) {
                $.ajax({
                    url: '/admin/documentation/apis/deleterecord1',
                    type: 'POST',
                    data: {
                        ids: id_api_to_delete
                    }
                }).done(function () {
                    $(api_to_delete).parent().parent('.arr-api-item').remove();
                    $('#confirm-delete-api-modal').modal('hide');
                });
            }
        }

        function collapseAll() {
            $('.arr-api-list').css('display', 'none');
            $('.expand_arrow').not('.ic-delete-section').removeClass('fa-caret-down').addClass('fa-caret-left');
        }

        function expandAll() {
            $('.arr-api-list').css('display', '');
            $('.expand_arrow').not('.ic-delete-section').removeClass('fa-caret-left').addClass('fa-caret-down');
        }

        function saveAll() {
            showLoading("#content-wrapping");

            var data = [];
            $(".arr-section-item").each(function () {
                var section_list = [];
                section_list.push($(this).attr("data-section-id"));

                var api_list = [];
                $(this).children("ul.arr-api-list").children("li.arr-api-item").each(function () {
                    api_list.push($(this).attr("data-api-id"));
                });

                section_list.push(api_list);
                data.push(section_list);
            });
            $("#data_json").val(JSON.stringify(data));

            $.ajax({
                url: '/admin/documentation/versions/arrange-docs',
                type: 'POST',
                data: {
                    version: $('#version').val(),
                    data_json: $("#data_json").val()
                }
            }).done(function () {
                hideLoading();
            });
        }
        function showLoading(element) {
            if (!element) {
                element = "#course-content";
            }
            $(element).append('<div class="overlay"><i class="fa fa-refresh fa-spin"></i></div>');
        }
        function hideLoading() {
            $(".overlay").remove();
        }
    </script>
{% endblock %}